In [1]:
import numpy as np
import pandas as pd

In [2]:
jeopardy = pd.read_csv("JEOPARDY_CSV.csv")

In [3]:
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [17]:
print(jeopardy.columns.values)

['Show Number' ' Air Date' ' Round' ' Category' ' Value' ' Question'
 ' Answer']

In [7]:
print(jeopardy.keys)

<bound method NDFrame.keys of         Show Number    Air Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
5              4680  2004-12-31         Jeopardy!
6              4680  2004-12-31         Jeopardy!
7              4680  2004-12-31         Jeopardy!
8              4680  2004-12-31         Jeopardy!
9              4680  2004-12-31         Jeopardy!
10             4680  2004-12-31         Jeopardy!
11             4680  2004-12-31         Jeopardy!
12             4680  2004-12-31         Jeopardy!
13             4680  2004-12-31         Jeopardy!
14             4680  2004-12-31         Jeopardy!
15             4680  2004-12-31         Jeopardy!
16             4680  2004-12-31         Jeopardy!
17             4680  2004-12-31         Jeopardy!
18             4680  2004-12-31         Jeopardy!
19             4680  2004-12-31         Jeopardy!
20             4680  2004-12-31         Jeopardy!
21             4680  2004-12-31         Jeopardy!
22             4680  2004-12-31         Jeopardy!
23             4680  2004-12-31         Jeopardy!
24             4680  2004-12-31         Jeopardy!
25             4680  2004-12-31         Jeopardy!
26             4680  2004-12-31         Jeopardy!
27             4680  2004-12-31         Jeopardy!
28             4680  2004-12-31         Jeopardy!
29             4680  2004-12-31  Double Jeopardy!
...             ...         ...               ...
216900         4999  2006-05-11  Double Jeopardy!
216901         4999  2006-05-11  Double Jeopardy!
216902         4999  2006-05-11  Double Jeopardy!
216903         4999  2006-05-11  Double Jeopardy!
216904         4999  2006-05-11  Double Jeopardy!
216905         4999  2006-05-11  Double Jeopardy!
216906         4999  2006-05-11  Double Jeopardy!
216907         4999  2006-05-11  Double Jeopardy!
216908         4999  2006-05-11  Double Jeopardy!
216909         4999  2006-05-11  Double Jeopardy!
216910         4999  2006-05-11  Double Jeopardy!
216911         4999  2006-05-11  Double Jeopardy!
216912         4999  2006-05-11  Double Jeopardy!
216913         4999  2006-05-11  Double Jeopardy!
216914         4999  2006-05-11  Double Jeopardy!
216915         4999  2006-05-11  Double Jeopardy!
216916         4999  2006-05-11  Double Jeopardy!
216917         4999  2006-05-11  Double Jeopardy!
216918         4999  2006-05-11  Double Jeopardy!
216919         4999  2006-05-11  Double Jeopardy!
216920         4999  2006-05-11  Double Jeopardy!
216921         4999  2006-05-11  Double Jeopardy!
216922         4999  2006-05-11  Double Jeopardy!
216923         4999  2006-05-11  Double Jeopardy!
216924         4999  2006-05-11  Double Jeopardy!
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category   Value  \
0                               HISTORY    $200
1       ESPN's TOP 10 ALL-TIME ATHLETES    $200
2           EVERYBODY TALKS ABOUT IT...    $200
3                      THE COMPANY LINE    $200
4                   EPITAPHS & TRIBUTES    $200
5                        3-LETTER WORDS    $200
6                               HISTORY    $400
7       ESPN's TOP 10 ALL-TIME ATHLETES    $400
8           EVERYBODY TALKS ABOUT IT...    $400
9                      THE COMPANY LINE    $400
10                  EPITAPHS & TRIBUTES    $400
11                       3-LETTER WORDS    $400
12                              HISTORY    $600
13      ESPN's TOP 10 ALL-TIME ATHLETES    $600
14          EVERYBODY TALKS ABOUT IT...    $600
15                     THE COMPANY LINE    $600
16                  EPITAPHS & TRIBUTES    $600
17                       3-LETTER WORDS    $600
18                              HISTORY    $800
19      ESPN's TOP 10 ALL-TIME ATHLETES    $800
20          EVERYBODY TALKS ABOUT IT...    $800
21                     THE COMPANY LINE    $800
22                  EPITAPHS & TRIBUTES  $2,000
23                       3-LETTER WORDS    $800
24                              HISTORY   $1000
25      ESPN's TOP 10 ALL-TIME ATHLETES   $1000
26                     THE COMPANY LINE   $1000
27                  EPITAPHS & TRIBUTES   $1000
28                       3-LETTER WORDS   $1000
29           DR. SEUSS AT THE MULTIPLEX    $400
...                                 ...     ...
216900                     OFF-BROADWAY    $400
216901                   RIDDLE ME THIS    $400
216902                        "T" BIRDS    $400
216903           AUTHORS IN THEIR YOUTH    $400
216904                       QUOTATIONS    $400
216905                   WORLD CAPITALS    $800
216906                     OFF-BROADWAY    $800
216907                   RIDDLE ME THIS    $800
216908                        "T" BIRDS    $800
216909           AUTHORS IN THEIR YOUTH    $800
216910                       QUOTATIONS    $800
216911                   WORLD CAPITALS   $1200
216912                     OFF-BROADWAY   $1200
216913                   RIDDLE ME THIS   $1200
216914                        "T" BIRDS   $1200
216915           AUTHORS IN THEIR YOUTH   $1200
216916                       QUOTATIONS  $2,200
216917                   WORLD CAPITALS  $3,400
216918                     OFF-BROADWAY   $1600
216919                   RIDDLE ME THIS   $1600
216920                        "T" BIRDS   $1600
216921           AUTHORS IN THEIR YOUTH   $1600
216922                       QUOTATIONS   $1600
216923                   WORLD CAPITALS   $2000
216924                     OFF-BROADWAY   $2000
216925                   RIDDLE ME THIS   $2000
216926                        "T" BIRDS   $2000
216927           AUTHORS IN THEIR YOUTH   $2000
216928                       QUOTATIONS   $2000
216929                   HISTORIC NAMES    None

                                                 Question  \
0       For the last 8 years of his life, Galileo was ...
1       No. 2: 1912 Olympian; football star at Carlisl...
2       The city of Yuma in this state has a record av...
3       In 1963, live on "The Art Linkletter Show", th...
4       Signer of the Dec. of Indep., framer of the Co...
5       In the title of an Aesop fable, this insect sh...
6       Built in 312 B.C. to link Rome & the South of ...
7       No. 8: 30 steals for the Birmingham Barons; 2,...
8       In the winter of 1971-72, a record 1,122 inche...
9       This housewares store was named for the packag...
10                                       "And away we go"
11      Cows regurgitate this from the first stomach t...
12      In 1000 Rajaraja I of the Cholas battled to ta...
13      No. 1: Lettered in hoops, football & lacrosse ...
14      On June 28, 1994 the nat'l weather service beg...
15      This company's Accutron watch, introduced in 1...
16      Outlaw: "Murdered by a traitor and a coward wh...
17      A small demon, or a mischievous child (who mig...
18      Karl led the first of these Marxist organizati...
19      No. 10: FB/LB for Columbia U. in the 1920s; MV...
20      Africa's lowest temperature was 11 degrees bel...
21      Edward Teller & this man partnered in 1898 to ...
22      1939 Oscar winner: "...you are a credit to you...
23      In geologic time one of these, shorter than an...
24      This Asian political party was founded in 1885...
25      No. 5: Only center to lead the NBA in assists;...
26      The Kirschner brothers, Don & Bill, named this...
27      Revolutionary War hero: "His spirit is in Verm...
28      A single layer of paper, or to perform one's c...
29      <a href="http://www.j-archive.com/media/2004-1...
...                                                   ...
216900  This Baldwin brother was extremely entertainin...
216901  He used the strength of his mind when he propo...
216902  Common species of this duck include blue-winge...
216903  As a child, Joseph Conrad pointed to the cente...
216904  In 1981 he quipped, "You can tell a lot about ...
216905  It has a museum devoted to composer Zoltan Kodaly
216906  "Red Light Winter" centers on a love triangle ...
216907  Sphinx: What animal walks on 4 legs in the mor...
216908  Toco, the largest species of this colorful bir...
216909  Poet Gregory Corso went on the beat path after...
216910  In his prime this athlete said, It's hard to b...
216911             It's home to the Holmenkollen ski jump
216912  We'd like to "enlighten" you about the musical...
216913  He created the musical riddles called the "Eni...
216914  One species of this bird breeds in the Arctic ...
216915  In his teens he worked in an assistant D.A.'s ...
216916  Oscar Wilde called this 4-letter word "the cur...
216917    Guyanese capital named for a Hanoverian monarch
216918  A naughty 18th c. novel originally titled "Mem...
216919  If this riddling Belgian surrealist painter, b...
216920  Nightingales & robins belong to this family of...
216921  Her hotsy-totsy diaries trace back to one she ...
216922  A motto of hers was "in politics, if you want ...
216923                         It's on the Suriname River
216924  In 2006 the cast of this long-running hit emba...
216925  This Puccini opera turns on the solution to 3 ...
216926  In North America this term is properly applied...
216927  In Penny Lane, where this "Hellraiser" grew up...
216928  From Ft. Sill, Okla. he made the plea, Arizona...
216929  A silent movie title includes the last name of...

                                                   Answer
0                                              Copernicus
1                                              Jim Thorpe
2                                                 Arizona
3                                              McDonald's
4                                              John Adams
5                                                 the ant
6                                          the Appian Way
7                                          Michael Jordan
8                                              Washington
9                                          Crate & Barrel
10                                         Jackie Gleason
11                                                the cud
12                                  Ceylon (or Sri Lanka)
13                                              Jim Brown
14                                           the UV index
15                                                 Bulova
16                                            Jesse James
17                                                    imp
18                                      the International
19                                           (Lou) Gehrig
20                                                Morocco
21                                          (Paul) Bonwit
22      Hattie McDaniel (for her role in Gone with the...
23                                                    era
24                                     the Congress Party
25                                     (Wilt) Chamberlain
26                                                     K2
27                                            Ethan Allen
28                                                    ply
29                                                 Horton
...                                                   ...
216900                                       Alec Baldwin
216901                                             Samson
216902                                           the teal
216903                                             Africa
216904                                      Ronald Reagan
216905                                           Budapest
216906                                          Amsterdam
216907                                                man
216908                                           a toucan
216909                                     Allen Ginsberg
216910                                       Muhammad Ali
216911                                               Oslo
216912                                         Siddhartha
216913                                     (Edward) Elgar
216914                                             a tern
216915                             (Erle Stanley) Gardner
216916                                               work
216917                                         Georgetown
216918                                         Fanny Hill
216919                                           Magritte
216920                                           thrushes
216921                                          Anaïs Nin
216922                                (Margaret) Thatcher
216923                                         Paramaribo
216924                                              Stomp
216925                                           Turandot
216926                                         a titmouse
216927                                       Clive Barker
216928                                           Geronimo
216929                     Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]>

In [18]:
answer_column = jeopardy.loc[:, " Answer"]

In [15]:
print(jeopardy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
Show Number    216930 non-null int64
 Air Date      216930 non-null object
 Round         216930 non-null object
 Category      216930 non-null object
 Value         216930 non-null object
 Question      216930 non-null object
 Answer        216928 non-null object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None

In [19]:
print(answer_column)

0                                                Copernicus
1                                                Jim Thorpe
2                                                   Arizona
3                                                McDonald's
4                                                John Adams
5                                                   the ant
6                                            the Appian Way
7                                            Michael Jordan
8                                                Washington
9                                            Crate & Barrel
10                                           Jackie Gleason
11                                                  the cud
12                                    Ceylon (or Sri Lanka)
13                                                Jim Brown
14                                             the UV index
15                                                   Bulova
16                                              Jesse James
17                                                      imp
18                                        the International
19                                             (Lou) Gehrig
20                                                  Morocco
21                                            (Paul) Bonwit
22        Hattie McDaniel (for her role in Gone with the...
23                                                      era
24                                       the Congress Party
25                                       (Wilt) Chamberlain
26                                                       K2
27                                              Ethan Allen
28                                                      ply
29                                                   Horton
                                ...
216900                                         Alec Baldwin
216901                                               Samson
216902                                             the teal
216903                                               Africa
216904                                        Ronald Reagan
216905                                             Budapest
216906                                            Amsterdam
216907                                                  man
216908                                             a toucan
216909                                       Allen Ginsberg
216910                                         Muhammad Ali
216911                                                 Oslo
216912                                           Siddhartha
216913                                       (Edward) Elgar
216914                                               a tern
216915                               (Erle Stanley) Gardner
216916                                                 work
216917                                           Georgetown
216918                                           Fanny Hill
216919                                             Magritte
216920                                             thrushes
216921                                            Anaïs Nin
216922                                  (Margaret) Thatcher
216923                                           Paramaribo
216924                                                Stomp
216925                                             Turandot
216926                                           a titmouse
216927                                         Clive Barker
216928                                             Geronimo
216929                       Grigori Alexandrovich Potemkin
Name:  Answer, Length: 216930, dtype: object

In [20]:
answer_counts = answer_column.value_counts()

In [21]:
print(answer_counts)

China                                         216
Australia                                     215
Japan                                         196
Chicago                                       194
France                                        193
India                                         185
California                                    180
Canada                                        176
Spain                                         171
Mexico                                        164
Alaska                                        161
Italy                                         160
Hawaii                                        157
Texas                                         153
Paris                                         149
Germany                                       147
Russia                                        141
Florida                                       140
South Africa                                  139
Ireland                                       136
Brazil                                        133
London                                        132
Sweden                                        130
New Orleans                                   128
George Washington                             128
Greece                                        125
Ronald Reagan                                 123
New York                                      122
Egypt                                         122
Abraham Lincoln                               120
                                             ...
dominion                                        1
Husk                                            1
woven                                           1
Rosicrucians                                    1
The Commitments                                 1
your little finger                              1
"The Iceman Cometh"                             1
Hal & Port Au Prince                            1
"Yesterday Once More"                           1
a naked mole rat                                1
L'Enfant                                        1
a starling                                      1
Spare                                           1
a sharp stick                                   1
Kipling (Tippling)                              1
the UAW (United Auto Workers)                   1
a DustBuster                                    1
a playground                                    1
(Lake) Louise                                   1
Tried                                           1
over-the-counter drugs                          1
Stephen (F.) Austin                             1
DOS (Disk Operating System)                     1
"The Littlest State" (or "Little Rhody")        1
the Episcopal Church                            1
income tax returns (income taxes accepted)      1
National                                        1
You Really Got Me                               1
the Southern Hemisphere                         1
Tales of the South Pacific                      1
Name:  Answer, Length: 88268, dtype: int64

In [24]:
unique_categories = jeopardy[" Category"].unique()
print(unique_categories)

['HISTORY' "ESPN's TOP 10 ALL-TIME ATHLETES" 'EVERYBODY TALKS ABOUT IT...'
 ... 'OFF-BROADWAY' 'RIDDLE ME THIS' 'AUTHORS IN THEIR YOUTH']

In [27]:
unique_series = pd.DataFrame({"Category": unique_categories})

In [28]:
print(unique_series)

                               Category
0                               HISTORY
1       ESPN's TOP 10 ALL-TIME ATHLETES
2           EVERYBODY TALKS ABOUT IT...
3                      THE COMPANY LINE
4                   EPITAPHS & TRIBUTES
5                        3-LETTER WORDS
6            DR. SEUSS AT THE MULTIPLEX
7          PRESIDENTIAL STATES OF BIRTH
8                        AIRLINE TRAVEL
9                THAT OLD-TIME RELIGION
10                       MUSICAL TRAINS
11                          "X"s & "O"s
12                     THE SOLAR SYSTEM
13                        GEOGRAPHY "E"
14                         RADIO DISNEY
15                       PARTS OF PEACH
16               BE FRUITFUL & MULTIPLY
17                         LET'S BOUNCE
18                    RHYMES WITH SMART
19                        SCIENCE CLASS
20                       KIDS IN SPORTS
21                       JUST THE FACTS
22                            SEE & SAY
23                           NEWS TO ME
24                    IN THE DICTIONARY
25                       HISTORIC WOMEN
26               ROYAL FEMALE NICKNAMES
27                    TV ACTORS & ROLES
28                     TRAVEL & TOURISM
29                             "I" LADS
...                                 ...
27965  MAJOR LEAGUE BASEBALL TEAM NAMES
27966            THE AMERICAN RED CROSS
27967                     SOCCER TO US!
27968          BASKIN ROBBINS ICE CREAM
27969                         WOODWINDS
27970                    LANGUAGE CRAFT
27971                        OFF-LIMITS
27972                           X-RATED
27973                      RACE-Y HUMOR
27974                       YOUR MOMMA!
27975                       CURSE WORDS
27976                       SKYSCRAPERS
27977                 SPOKES-CHARACTERS
27978                   IT'S A MONARCHY
27979                       SIGNING OFF
27980               WAR MOVIE LOCATIONS
27981              "U"-ENDING CREATURES
27982          TALES OF E.T.A. HOFFMANN
27983                 NATIONAL CAPITALS
27984                PEOPLE YOU CAN EAT
27985              DUMB DOWN THE SIMILE
27986                  HAIL TO THE CHEF
27987                GEOGRAPHICAL BANDS
27988                   MEDICAL DEVICES
27989             ABRAHAM, ISAAC, JACOB
27990              LOVE SONGS IN GERMAN
27991               FIRST IN OUR HEARTS
27992                      OFF-BROADWAY
27993                    RIDDLE ME THIS
27994            AUTHORS IN THEIR YOUTH

[27995 rows x 1 columns]

In [30]:
category_column = jeopardy[" Category"]
category_counts = category_column.value_counts()
print(category_counts)

BEFORE & AFTER                     547
SCIENCE                            519
LITERATURE                         496
AMERICAN HISTORY                   418
POTPOURRI                          401
WORLD HISTORY                      377
WORD ORIGINS                       371
COLLEGES & UNIVERSITIES            351
HISTORY                            349
SPORTS                             342
U.S. CITIES                        339
WORLD GEOGRAPHY                    338
BODIES OF WATER                    327
ANIMALS                            324
STATE CAPITALS                     314
BUSINESS & INDUSTRY                311
ISLANDS                            301
WORLD CAPITALS                     300
U.S. GEOGRAPHY                     299
RELIGION                           297
SHAKESPEARE                        294
OPERA                              294
LANGUAGES                          284
BALLET                             282
TELEVISION                         281
FICTIONAL CHARACTERS               280
RHYME TIME                         279
PEOPLE                             279
TRANSPORTATION                     279
STUPID ANSWERS                     270
                                  ...
FICTIONAL PEOPLE                     1
LINES FROM PLAYS                     1
RECORD HOLDERS                       1
MIDWAY ISLAND                        1
ARBOREAL MAMMALS                     1
RECENT EVENTS                        1
'60s NOVELS' FIRST LINES             1
MODERN AFRICAN HISTORY               1
ROCK & ROLL HISTORY                  1
MR. AVERAGE                          1
WORD AND PHRASE ORIGINS              1
GLAND FINALE                         1
FRENCHMEN IN HISTORY                 1
FRENCH CLASSICAL MUSIC               1
1960s HIT SONGS                      1
THE HALL OF PRESIDENTS               1
THE EMMY AWARDS                      1
FRANCO-AMERICAN HISTORY              1
DEMOGRAPHICS                         1
15-LETTER ANAGRAMS                   1
THE WORLD OF TRANSPORTATION          1
CIVIL RIGHTS                         1
BRITISH PAINTERS                     1
21st CENTURY EMMYS                   1
1950s MOVIE ENSEMBLES                1
MOTOWN SINGERS                       1
CIVIL WAR-ERA FICTION                1
KINGS & LITERATURE                   1
19th CENTURY BRITISH LITERATURE      1
MODERN SCIENCE                       1
Name:  Category, Length: 27995, dtype: int64

In [44]:
# print(category_counts["BEFORE & AFTER"])
cat_counts_dict = category_counts.to_dict()
# print(cat_counts_dict.items())
cat_counts_list = list(cat_counts_dict.items())
results = cat_counts_list[0:50]
print(results)

[('BEFORE & AFTER', 547), ('SCIENCE', 519), ('LITERATURE', 496), ('AMERICAN HISTORY', 418), ('POTPOURRI', 401), ('WORLD HISTORY', 377), ('WORD ORIGINS', 371), ('COLLEGES & UNIVERSITIES', 351), ('HISTORY', 349), ('SPORTS', 342), ('U.S. CITIES', 339), ('WORLD GEOGRAPHY', 338), ('BODIES OF WATER', 327), ('ANIMALS', 324), ('STATE CAPITALS', 314), ('BUSINESS & INDUSTRY', 311), ('ISLANDS', 301), ('WORLD CAPITALS', 300), ('U.S. GEOGRAPHY', 299), ('RELIGION', 297), ('SHAKESPEARE', 294), ('OPERA', 294), ('LANGUAGES', 284), ('BALLET', 282), ('TELEVISION', 281), ('FICTIONAL CHARACTERS', 280), ('RHYME TIME', 279), ('PEOPLE', 279), ('TRANSPORTATION', 279), ('STUPID ANSWERS', 270), ('ART & ARTISTS', 270), ('THE BIBLE', 267), ('ART', 258), ('BOOKS & AUTHORS', 255), ('U.S. HISTORY', 250), ('FOOD', 246), ('MUSEUMS', 245), ('SCIENCE & NATURE', 244), ('AMERICANA', 244), ('COMMON BONDS', 243), ('GEOGRAPHY', 242), ('HOLIDAYS & OBSERVANCES', 242), ('3-LETTER WORDS', 240), ('ANNUAL EVENTS', 236), ('AMERICAN LITERATURE', 234), ('CLASSICAL MUSIC', 233), ('AUTHORS', 232), ('POP MUSIC', 232), ('POETS & POETRY', 230), ('QUOTATIONS', 226)]